@font-face {
  font-family: "Sweet";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/Sweet/Sweet.ttf") format("truetype");
  unicode-range: U+0400-04FF, U+0500-052F, U+2DE0-2DFF, U+A640-A69F;
}
